.project {
  margin: 0 auto;
  max-width: 1075px;
  padding: 40px 70px 0;
}

.project__title {
  display: block;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.project__image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  margin-top: 40px;
  object-fit: contain;
}

.project__container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.project__subtitle {
  max-width: 600px;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.project__caption {
  color: #58AF31;
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

.project__summ {
  padding-right: 80px;
  color: #58AF31;
  font-size: 45px;
  font-weight: 800;
  line-height: 56px;
}

.project__list {
  list-style: disc;
  padding-left: 30px;
  max-width: 650px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

.project__item  {
  padding-bottom: 20px;
}

.project__link {
  text-decoration: none;
  color: #58AF31;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}

@media (max-width: 1175px) {
  .project {
    max-width: 768px;
    padding: 40px 40px 0;
  }
}

@media (max-width: 768px) {
  .project {
    padding: 40px 20px 0;
  }
}

@media (max-width: 1175px) {
  .project__container {
    margin-top: 20px;
    flex-direction: column-reverse;
    align-items: start;
  }
}

@media (max-width: 1175px) {
  .project__summ {
    padding: 0px;

  }
}

@media (max-width: 1175px) {
  .project__title {
    font-size: 56px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .project__title {
    font-size: 38px;
    line-height: 42px;
  }
}


@media (max-width: 768px) {
  .project__subtitle {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
  }
}

@media (max-width: 1175px) {
  .project__summ {
    margin-bottom: 30px;
  }
}