
.project {
  margin: 0 auto;
  max-width: 1075px;
  padding: 50px 70px 0;
}

.project__title {
  display: block;
  color: #DFDFDF;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  padding-bottom: 60px;
}

.project__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
 @media (max-width: 1175px) {
  .project {
    max-width: 768px;

  }
}


@media (max-width: 768px) {
  .project {
    padding: 50px 20px 0;
  }
} 

